
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e6007a;
  --blue-color: #1b95e0;
}

body {
  font-family: "poppins", sans-serif;
}
.heroCon{
    height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Contact css */
.eyn{
  width: 80%;
  padding: 15px;
  }

  .eyp{
    
    color: #fe072f;
    width: 80%;
   
    padding: 15px;
  }

  .bt1{
    margin-top: 30px;
    background: linear-gradient(90deg, #FF4A67 13.54%, #FF6C83 100%);
    width: 40%;
    margin-left: 80px;
    border-radius: 7px;
    padding: 12px;
    color: white;
  }
  .cont{
    text-align: center;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-radius: 7px;
    padding: 15px;
  }
  .masage{
    width: 80%;
    border-radius: 7px;
    padding: 15px;
  }

  .cont{
      width: 80%;
      bottom: 40px;
  }