@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* 

/* ------------------------------------------------------Blog------------------------------------------------------ */
 
/* ------------------------------------------------------Cryptoevent------------------------------------------------------ */
.cryptoevent {
  padding: 5rem;
}
.cryptoevent hr {
  width: 10%;
  height: 1px;
  float: left;

  background: #ff6c83;
}

.cryptoevent .head .searchBar input {
  color: rgb(226, 213, 213);
  font-size: 14pt;
  width: 75%;
  padding: 0.7rem;
  border-radius: 0.2rem;
  outline: none;
  border: 0.1rem solid rgb(241, 227, 227);
  margin-top: 1rem;
}

.cryptoevent .head .searchBar button {
  color: white;
  background: linear-gradient(to right, #ff4a67, #ff6c83);
  text-align: center;
  padding: 0.8rem 3rem;
  text-decoration: none;
  font-size: 14pt;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
.cryptoevent .body {
  text-align: center;
}

.cryptoevent .body .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  column-gap: 2rem;
  margin-top: 5rem;
}

.cryptoevent .body .items .card {
  border: 2px solid rgb(214, 209, 209);
  padding: 1rem;
  border-radius: 0.2rem;
  display: none;
}
.cryptoevent .body .items .card:nth-child(1),
.cryptoevent .body .items .card:nth-child(2),
.cryptoevent .body .items .card:nth-child(3) {
  display: inline-block;
}

.cryptoevent .body .items .card .card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cryptoevent .body .items .card .card-head .card-head-right {
  display: flex;
  flex-direction: column;
}

.cryptoevent .body .items .card .card-header {
  text-align: center;
}
.cryptoevent .body .items .card .card-header-body {
  display: flex;
  justify-content: space-between;
}  
