@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #e6007a;
  --blue-color: #1b95e0;
}

body {
  font-family: "poppins", sans-serif;
}

/* signup css  */
.bg{
    background-color: #fadde2;
      width: 260%;

      
      
    }
    .about{
      width: 100%;
      height: 91%;
      
    }

    .eye{
        width: 80%;
        border-radius: 7px;
        padding: 12px;

          
      }
      .ep{
        width: 80%;
        border-radius: 7px;
        padding: 12px;

      }

    .firstn{
      width: 38%;
      padding: 9px;

    }
    .inpu1{
      width: 38%;
      margin-left: 300px;
      position: relative;
      top: -69px;
      left: -85px;
      padding: 9px;

    
    }
    
    .btn1{
      margin-left: 420px;
      position: relative;
      top: -42px;
    
      left: -75px;
      color: #ff889b; 
    
    
    }

    .signin{
    background: linear-gradient(90deg, #FF4A67 13.54%, #FF6C83 100%);
      width: 80%;
      margin-left: 47px;
      border-radius: 7px;
      /* padding: 12px; */
    }
    